<mat-card>
  <mat-card-header>
    <mat-card-title>{{candidate.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span class="mat-subheading-1">Skills</span>
    <mat-chip-list>
      <mat-chip disabled *ngFor="let skill of candidate.skills">{{skill.skillName}}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
