
<div class='default-theme'>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode='side' opened class="sidenav" [fixedInViewport]=true>
      <a mat-button routerLink='/jobs' routerLinkActive="active">Jobs</a>
      <a mat-button routerLink='/candidates' routerLinkActive="active">Candidates</a>
    </mat-sidenav>
    <mat-sidenav-content class='sidenav-content'>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
