
@import '~@angular/material/theming';

@mixin sidenav-component($theme){
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $sidenav-width: 250px;

  .mat-sidenav-container {
    position: absolute;
    width: 100%;
    height: 100%;

    mat-sidenav {
      display: flex;
      align-items:center;
      flex-direction: column;
      justify-content: center;

      width: $sidenav-width;
      background: mat-color($primary, darker);
      padding: 10px;

      a.mat-button {
        width: 100%;
        padding: 2px;
        background: mat-color($primary, lighter);
        margin: 3px 0;
        &:hover {
          background: mat-color($accent);
        }
      }

    }
    mat-sidenav-content {
      padding: 10px;
      margin-left: $sidenav-width !important;
    }
  }
}
