<div class="spinner-container">
  <mat-spinner *ngIf="pending"></mat-spinner>
</div>
<div *ngIf="!pending">
  <app-candidate *ngFor="let candidate of candidates" [candidate]="candidate"></app-candidate>
</div>
