/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/theming';*/
@import '~@angular/material/theming';
@include mat-core();
@import './app/app.component.scss';

$ui-primary: mat-palette($mat-indigo);
$ui-accent: mat-palette($mat-pink, A200, A100, A400);
$ui-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat-light-theme((
  color: (
    primary: $ui-primary,
    accent: $ui-accent,
    warn: $ui-warn,
  )
));

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.default-theme {
  @include angular-material-theme($theme);
  @include sidenav-component($theme);
}
