.mat-card {
  margin-bottom: 3px;
}
.mat-card-content {
  margin: 0 16px;
}
.most-qualified-candidate-area {
  margin: 10px 0;
  width:100%;
}
.most-qualified-candidate-area button {
  width: 100%;
}
.most-qualified-candidate-area .most-qualified-candidate {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
