<mat-card>
  <mat-card-header>
    <mat-card-title>{{job.name}}</mat-card-title>
    <mat-card-subtitle>{{job.company}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span class="mat-subheading-1">Skills</span>
    <mat-chip-list>
      <mat-chip disabled *ngFor="let skill of job.skills">{{skill.skillName}}</mat-chip>
    </mat-chip-list>
    <div class="most-qualified-candidate-area">
      <button mat-button (click)="openCloseMostQualifiedCandidate()" >{{mostQualifiedCandidateOpen ? "Hide" : "Show"}} Most Qualified Candidate</button>
      <div *ngIf="mostQualifiedCandidate && mostQualifiedCandidateOpen" class="most-qualified-candidate">
        <span class="mat-subheading-2">{{mostQualifiedCandidate.name}}</span>
        <span class="mat-subheading-1">Skills</span>
        <mat-chip-list>
          <mat-chip disabled *ngFor="let skill of mostQualifiedCandidate!.skills">{{skill.skillName}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>
